/* Variables */

.payment-form .payment-form-content {
  width: 100%;
  /* min-width: 500px; */
  align-self: center;
  border-radius: 0px 0px 5px 5px;
  /* padding: 40px 24px; */
  border: 1px solid var(--pay-header-bg);
  border-top: none;
}

.payment-form .card-detail-form-wrap {
  background-color: var(--pay-header-bg);
  padding: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

.payment-form .card-detail-subhead {
  font-size: 12px;
  color: var(--input-field-font-color);
}

/* Buttons and links */
.payment {
  background: var(--brand-color-primary);
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 13.5px 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  float: right;
}
.payment:hover {
  filter: contrast(115%);
}
.payment:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}

.new-spinner {
  width: 24px;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.new-spinner > circle {
  fill: none;
  stroke: hsl(0, 0%, 100%);
  stroke-width: 6px;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 3s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
}
 
@keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
}

@media(min-width:1200px){
  .purchase-plan-detail:not(:lang(en)){
    align-items: center;
  }
  
  .purchase-plan-price:not(:lang(en)){
    flex-direction: column;
  }
  
  .purchase-plan-price .plan-wrap:not(:lang(en)),
  .purchase-plan-price .price-wrap:not(:lang(en)){
    width: 100% !important;
  }
  
  .purchase-plan-price .plan-wrap:not(:lang(en)){
    margin: unset !important;
  }
  
  .purchase-plan-price .price-wrap:not(:lang(en)){
    display: flex;
    max-width: 100% !important;
  }
  
  .purchase-package-wrap .purchase-package-detail:not(:lang(en)){
    padding: 10px 10px;
  }
  
  .purchase-plan-price .plan-name:not(:lang(en)) {
      font-size: 20px;
      display: block;
      width: max-content;
      margin-right: auto !important;
      font-weight: 600;
  }
  
  .purchase-package-detail .subprice:not(:lang(en)) {
    font-size: 14px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-top: 3px;
  }
  
  .purchase-plan-price .plan-price:not(:lang(en)) {
    font-size: 20px;
  }

  .purchase-plan-price .plan-price:lang(ja) {
    font-size: 19px;
  }

  .purchase-plan-price .plan-name:lang(yo){
    margin: unset !important;
  }

  .purchase-plan-price .plan-price:lang(yo) {
    font-size: 17px;
  }
}

